---
import Layout from "../../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og_title={post.data.title}
  og_description={post.data.description}
  og_type="article"
>
  <article class="prose md:prose-lg lg:prose-xl">
    <h1 class="m-0">
      {post.data.title}
    </h1>
    <p class="!mt-2 !mb-1">{post.data.description}</p>
    <div class="!mt-1 mb-5">
      {
        post.data.tags.map((tag) => (
          <span class="mr-2 badge badge-neutral">{tag}</span>
        ))
      }
    </div>
    <div class="divider m-0"></div>
    <Content class="mt-32" />
  </article>
</Layout>
