---
import { ViewTransitions } from "astro:transitions";
import { Config } from "../config";
import icon from "../assets/icon.png";

interface Props {
  title?: string;
  description?: string;
  og_title?: string;
  og_description?: string;
  og_type?: string;
  og_image?: string;
}

const {
  title = Config.me.name,
  description = Config.me.name + "'s personal website.",
  og_title = Config.me.name,
  og_description = Config.me.name + "'s personal website.",
  og_type = "website",
  og_image = Config.og.image,
} = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon.src} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={og_title} />
    <meta property="og:description" content={og_description} />
    <meta property="og:type" content={og_type} />
    <meta property="og:image" content={og_image} />
    <meta property="og:url" content={Astro.request.url} />
    <ViewTransitions />
  </head>
  <body>
    <div
      class="mx-auto flex min-h-screen max-w-4xl flex-col gap-9 px-10 py-8 md:gap-20 md:py-16"
    >
      <header
        class="flex w-full flex-col gap-3 md:gap-2 md:flex-row md:justify-between pb-5 md:pb-0"
      >
        <a href="/" class="text-xl">{Config.me.name}</a>
        <nav class="text-sm custom-breadcrumbs">
          <ul>
            <li>
              <a class={currentPath === "/" ? "text-primary" : ""} href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class={currentPath.startsWith("/posts") ? "text-primary" : ""}
                href="/posts">Posts</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <slot />
    </div>
    <style is:global>
      .custom-breadcrumbs {
        max-width: 100%;
        overflow-x: auto;
        padding-top: 0.5%;
      }

      .custom-breadcrumbs > ul {
        display: flex;
        align-items: center;
        white-space: nowrap;
        min-height: min-content;
      }

      .custom-breadcrumbs > ul > li {
        display: flex;
        align-items: center;
      }

      .custom-breadcrumbs > ul > li > a {
        display: flex;
        cursor: pointer;
        align-items: center;
      }

      @media (hover: hover) {
        .custom-breadcrumbs > ul > li > a:hover {
          text-decoration-line: underline;
        }
      }

      .custom-breadcrumbs > ul > li > a:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      .custom-breadcrumbs > ul > li > a:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
      }

      .custom-breadcrumbs > ul > li + *:before {
        content: "/";
        margin-left: 0.5rem /* 8px */;
        margin-right: 0.75rem /* 12px */;
        display: block;
        opacity: 0.4;
        background-color: transparent;
      }

      [dir="rtl"] .custom-breadcrumbs > ul > li + *:before {
        --tw-rotate: -180deg;
      }
    </style>
  </body>
</html>
